.btn {
  width: 150px;
  height: 50px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
}
.main_div {
  width: 500px;
  margin: 10px auto;
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
