.firstCount {
  border: 1px solid gray;
  background-color: dodgerblue;
  color: white;
  width: 150px;
  height: 100px;
}
.secondCount {
  border: 1px solid gray;
  background-color: dodgerblue;
  color: white;
  width: 150px;
  height: 100px;
}
